<header class="header">
    <a n:href="Default:default" class="hover:no-underline text-center no-underline">
        <h1 class="text-light justify-items-center flex items-center mx-auto mb-0 text-xl font-medium tracking-wide">
            <span class="sm:hidden mr-2">Message</span>
            <img class="w-auto h-20" src="{$basePath}/dist/front/images/flame.png">
            <span class="sm:hidden ml-2">Burner</span>
        </h1>
    </a>
    {* <h1 class="text-light mx-auto text-lg font-medium leading-none tracking-wide opacity-75">Message Burner</h1> *}
    <div class="dark-toggle">
        <span class="btn" data-current-theme="system">🌘</span>
    </div>
</header>
