<header class="header">
    <a n:href="Default:default" class="text-center no-underline">
        <img class="w-auto h-auto max-h-16" src="{$basePath}/dist/front/images/flame.png">
    </a>
    {* <h1 class="mx-auto text-lg font-medium leading-none tracking-wide opacity-75 text-light">Message Burner</h1> *}
</header>
