<header class="w-screen h-full mb-4 border-b bg-grad-primary border-primary">
    <div class="pt-2 pb-1 text-center">
        <a n:href="Default:default" class="">
            <img class="w-auto h-full px-3 mx-auto max-h-10" src="{$basePath}/dist/front/images/flame.png">
        </a>
        <h2 class="mt-3 text-base font-thin opacity-75 text-light">Secure self-destructing message service</h2>
    </div>
</header>
