@layer components {
    .header {
        @apply w-screen h-32 mb-4 dark:bg-grad-dark dark:bg-opacity-60 dark:backdrop-filter backdrop-blur-lg bg-grad-main dark:text-white relative p-4 mx-auto text-center flex flex-col justify-center items-center;
        box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.66);
        font-family: 'Big Shoulders Stencil Display', sans-serif;
        & h1 {
            text-shadow: 0 0 4px #000000;
        }
        & .brand-logo {
            filter: drop-shadow(0 0 4px rgba(0,0,0,0.5));
        }
    }
    .dark-toggle {
        @apply absolute right-4 bottom-4 w-auto h-auto;
    }
    .lang-toggle {
        @apply absolute left-4 bottom-4 w-auto h-auto text-white;
        font-family: 'Jost', sans-serif;
    }
}
