<!DOCTYPE html>
<html lang="{$presenter->locale}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="title" content="Matronator's Message Burner">
    <meta name="description" content="{ifset #metaDescription}{include #metaDescription|stripHtml|trim}{/ifset}">
    <meta name="copyright" content="Matronator © {php echo date('Y'); }">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Matronator; https://matronator.com">

    <title>Burner - {ifset #pageTitle}{include #pageTitle|striptags}{else}{include #metaDescription|striptags}{/ifset}</title>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{link '//this'}">
    <meta property="og:title" content="Message Burner">
    <meta property="og:description" content="Create secure single-use messages that are destroyed after being read by the recipient. Privacy guaranteed by Matronator™">
    <meta property="og:image" content="https://i.imgur.com/Do7divD.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{link '//this'}">
    <meta property="twitter:title" content="Message Burner">
    <meta property="twitter:description" content="Create secure single-use messages that are destroyed after being read by the recipient. Privacy guaranteed by Matronator™">
    <meta property="twitter:image" content="https://i.imgur.com/Do7divD.png">

    <link rel="icon" href="{$basePath}/dist/front/etc/favicon.ico">
    <link rel="stylesheet" href="{asset index.css front}">

    {ifset head}
        {include head}
    {/ifset}

    <link n:foreach="$presenter->localeList as $localeItem" rel="alternate" hreflang="{$localeItem}" href="{link //this, locale=>$localeItem}"/>
    <link rel="alternate" hreflang="x-default" href="{link //this, locale=>$defaultLocale}" />

    <script n:syntax="off">
        if (localStorage.getItem(`theme`) === `dark` || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>

<body class="{ifset #bodyClass}{include #bodyClass}{/ifset} w-full h-full">
    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    {include '../components/Header/Header.latte'}

    <main class="container py-4 mx-auto text-center" n:snippet="body">
        {include pageContent}
    </main>

    {include '../components/Footer/Footer.latte'}

    <script defer src="{asset index.js front}"></script>
    {ifset scripts}
        {include scripts}
    {/ifset}
</body>
</html>
