<footer class="bg-primary border-secondary dark:border-primary dark:bg-grey-darker dark:text-white absolute bottom-0 left-0 right-0 w-screen h-12 text-white border-t">
    <div class="py-2 text-center">
        <p class="my-0">
            Created by <a href="https://matronator.com" class="text-secondary dark:text-primary">Matronator</a>
        </p>
    </div>
</footer>
