<footer class="footer">
    <p class="py-0 my-auto text-sm">
        Created by <a href="https://matronator.com" class="text-secondary hover:underline font-semibold">Matronator</a>
    </p>
</footer>
