<footer class="absolute bottom-0 left-0 right-0 w-screen h-12 border-b bg-grey-darker text-primary border-primary">
    <div class="py-2 text-center">
        <a href="https://matronator.com" class="">
            Matronator
        </a>
    </div>
</footer>
