@import "import/flash.css";
@import "import/fonts.css";
@import "import/backgrounds.css";
@import "../../../app/modules/Front/components/Header/Header.css";
@import "../../../app/modules/Front/components/Footer/Footer.css";
@import "../../../app/modules/Front/components/MessageForm/MessageForm.css";
@import "../../../app/modules/Front/components/Dropdown/Dropdown.css";
@import "../../../app/modules/Front/components/DropUpload/DropUpload.css";
@import "import/popup.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-body dark:bg-grad-body dark:text-white relative min-h-screen pb-16 text-black bg-white;
    }

    a {
        @apply hover:underline;
    }

    p {
        @apply mb-4 font-sans text-base tracking-normal;
    }

    h1 { @apply mb-6 text-3xl; }
    h2 { @apply sm:text-lg mb-6 text-2xl; }
    h3 { @apply mb-4 text-xl; }
    h4 { @apply mb-4 text-lg; }
    h5 { @apply mb-4 text-base font-bold; }

    section {
        @apply w-full;
    }

    .section {
        @apply my-72;
    }

    .container {
        @apply px-4;
        max-width: 1392px;
        content-visibility: auto;
    }
    .container-sm {
        @apply px-2 mx-auto;
        content-visibility: auto;
    }

    input[type="text"],
    input[type="password"] {
        @apply bg-yellow-lightest dark:backdrop-filter backdrop-blur-lg dark:bg-black dark:bg-opacity-50 dark:text-white px-1 py-2;
    }
}

@layer components {
    .container-max {
        max-width: 1392px !important;
        content-visibility: auto;
        @screen xl {
            padding-left: 80px !important;
            padding-right: 80px !important;
        }
    }
    .container-sm {
        max-width: 640px;
    }

    .container-md {
        @apply px-2 mx-auto;
        max-width: 960px;
        content-visibility: auto;
    }
    /* --------========≡≡≡≡≡--| TYPOGRAPHY |--≡≡≡≡≡========-------- */

    .lead {
        @apply text-lead sm:text-base font-bold tracking-normal text-center;
    }
    .sub-1 {
        @apply text-lg font-bold tracking-normal;
    }
    .sub-2 {
        @apply text-xl font-bold tracking-normal;
    }
    .headline-1 {
        @apply text-2xl font-bold tracking-normal;
    }
    .headline-2 {
        @apply text-3xl font-bold tracking-normal;
    }
    .headline-3 {
        @apply text-4xl font-bold tracking-normal;
    }
    .headline-4 {
        @apply text-hd font-bold tracking-normal;
    }
    .label {
        @apply text-button font-sans font-bold uppercase;
    }

    .btn {
        @apply hover:no-underline px-6 py-3 tracking-wider uppercase rounded-full cursor-pointer;
        font-size: 18px;
        font-weight: 400;
        font-variation-settings: 'wght' 400;
        font-family: 'Jost-VF', sans-serif;
        transition: all 300ms ease-out;
        @media (max-width: 640px) {
            font-size: 14px;
        }
    }
    .btn:hover {
        font-variation-settings: 'wght' 650;
    }
    .btn-primary {
        @apply bg-grad-main dark:bg-grad-secondary-primary text-white;
        text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        /* box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.66); */
    }
    .btn-primary:hover {
        text-shadow: -1.5px -1.5px 0px rgba(0,0,0,0.7);
    }
    .btn-secondary {
        @apply bg-grad-secondary dark:bg-grad-dark dark:backdrop-filter backdrop-blur-lg dark:bg-opacity-50 dark:text-secondary text-white;
        text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        /* box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.66); */
    }
    .btn-secondary:hover {
        text-shadow: -1.5px -1.5px 0px rgba(0,0,0,0.7);
    }

    .msg-link {
        @apply bg-light-2 w-full px-3 py-2 mb-3 text-base font-bold text-black no-underline appearance-none select-text;
        writing-mode: horizontal-tb;
        font-size: 16px;
    }

    .read-message {
        @apply bg-yellow-lighter dark:backdrop-filter backdrop-blur-lg dark:bg-black dark:bg-opacity-50 dark:placeholder-grey-lighter dark:text-white text-grey-darker placeholder-grey-dark block w-full px-3 py-4 mx-auto my-4 text-base text-left;
        min-height: 200px;
    }

    .input {
        @apply bg-yellow-lightest dark:backdrop-filter backdrop-blur-lg dark:bg-opacity-50 dark:bg-black dark:placeholder-grey-lighter dark:text-white text-grey-darker text-input placeholder-grey-dark font-normal border-none shadow-none;
        font-size: 16px;
    }

    .adbytes-display-ad {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .ad-container {
        background: #fff2;
        backdrop-filter: blur(10px);
        content-visibility: auto;
        & > iframe {
            margin: 0 auto;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}

@layer utilities {
}

@screen xl {
    .container {
        @apply px-0;
    }
}
