@import "import/flash.css";
@import "../../../app/modules/Front/components/MessageForm/MessageForm.css";
@import "../../../app/modules/Front/components/Dropdown/Dropdown.css";
@import "import/popup.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply hover:underline;
    }

    p {
        @apply mb-4 font-sans text-base tracking-normal text-black;
    }

    h1 { @apply mb-6 text-3xl; }
    h2 { @apply mb-6 text-2xl; }
    h3 { @apply mb-4 text-xl; }
    h4 { @apply mb-4 text-lg; }
    h5 { @apply mb-4 text-base font-bold; }

    section {
        @apply w-full;
    }

    .section {
        @apply my-72;
    }

    .container {
        @apply px-4;
        max-width: 1392px;
    }
    .container-sm {
        @apply px-2 mx-auto;
        max-width: 960px;
    }

    .bg-grad-primary {
        background: linear-gradient(-226deg, rgba(201,31,8,0.65) 0%, rgba(93,4,110,0.70) 100%),
                    linear-gradient(-180deg, #FFB156 2%, #710202 97%);
    }
    .bg-grad-secondary {
        background: linear-gradient(-226deg, var(--color-1) 0%, rgba(93,4,110,0.70) 100%),
                    linear-gradient(-180deg, #FFB156 2%, #710202 97%);
    }
}

@layer components {
    .container-max {
        max-width: 1392px !important;
        @screen xl {
            padding-left: 80px !important;
            padding-right: 80px !important;
        }
    }
    .container-sm {
        max-width: 640px;
    }

    .container-md {
        max-width: 1310px;
    }
    /* --------========≡≡≡≡≡--| TYPOGRAPHY |--≡≡≡≡≡========-------- */

    .lead {
        @apply font-bold tracking-normal text-center text-lead;
    }
    .sub-1 {
        @apply text-lg font-bold tracking-normal;
    }
    .sub-2 {
        @apply text-xl font-bold tracking-normal;
    }
    .headline-1 {
        @apply text-2xl font-bold tracking-normal;
    }
    .headline-2 {
        @apply text-3xl font-bold tracking-normal;
    }
    .headline-3 {
        @apply text-4xl font-bold tracking-normal;
    }
    .headline-4 {
        @apply font-bold tracking-normal text-hd;
    }
    .label {
        @apply font-sans font-bold uppercase text-button;
    }

    .btn {
        @apply px-4 py-2 uppercase text-button;
        &\-primary {
            @apply text-yellow bg-dark-2;
        }
    }

    .msg-link {
        @apply w-full px-3 py-2 mb-3 text-base font-bold text-black no-underline appearance-none select-text bg-light-2;
        writing-mode: horizontal-tb;
    }

    .read-message {
        @apply block w-full px-3 py-4 mx-auto text-base text-left bg-yellow-lighter;
        min-height: 200px;
    }
}

@layer utilities {
}

@screen xl {
    .container {
        @apply px-0;
    }
}
