{default $text = 'general.messageForm.sending'}

<button type="button" class="items-center hidden cursor-not-allowed btn btn-primary" disabled id="msg-sent-button">
    {include '../../components/Spinner/Spinner.latte'}
    {$text|translate}
</button>
