{define bodyClass}page--home{/define}
{define pageTitle}Created{/define}
{define metaDescription}Created{/define}

{block pageContent}
<h2>Message created!</h2>
{* {control contactForm} *}
<p>Message URL: {$url}</p>

{* {/form} *}
{/block}
