{define bodyClass}page--home{/define}
{define pageTitle}Homepage{/define}
{define metaDescription}Homepage{/define}

{block pageContent}
<h2>Send a self-destructing image</h2>

{control imageForm}

{/block}
