{define bodyClass}page--home{/define}
{define pageTitle}Read{/define}
{define metaDescription}Read{/define}

{block pageContent}
<h2>Read message</h2>
{* {control contactForm} *}
<p>Message URL: {$url}</p>

{* {/form} *}
{/block}
