@layer utilities {
    .bg-grad-primary {
        background: linear-gradient(-226deg, rgba(201,31,8,0.65) 0%, rgba(93,4,110,0.70) 100%),
                    linear-gradient(-180deg, #FFB156 2%, rgba(116, 2, 2, 0.65) 97%);
    }
    .bg-grad-secondary {
        background: linear-gradient(226deg, rgba(255, 94, 0, 0.68) 20%, rgba(240, 164, 0, 0.65) 100%),
                    linear-gradient(-270deg, rgba(255, 143, 15, 0.66) 0%, rgba(143, 0, 0, 0.75) 100%);
    }
    .bg-grad-main {
        background: linear-gradient(-226deg, rgba(186, 8, 8, 0.65) 0%, rgba(103, 4, 103, 0.7) 100%),
                    linear-gradient(-180deg, #fa8500 2%, #520000 97%);
    }
    .bg-grad-secondary-primary {
        background: linear-gradient(230deg, theme(colors.primary) 0%, theme(colors.secondary) 100%);
    }
    .bg-grad-primary-secondary {
        background: linear-gradient(50deg, theme(colors.primary) 0%, theme(colors.secondary) 100%);
    }
    .bg-grad-primary-ternary {
        background: linear-gradient(50deg, theme(colors.primary) 0%, theme(colors.ternary) 100%);
    }
}

@variants dark {
    .bg-grad-secondary-primary {
        background: linear-gradient(230deg, theme(colors.dark-secondary) 0%, theme(colors.dark-primary) 100%);
    }
    .bg-grad-primary-secondary {
        background: linear-gradient(50deg, theme(colors.dark-secondary) 0%, theme(colors.dark-primary) 100%);
    }
    .bg-grad-primary-ternary {
        background: linear-gradient(50deg, theme(colors.ternary) 0%, theme(colors.dark-primary) 100%);
    }
    .bg-grad-body {
        background: linear-gradient(41deg, rgba(23,15,36,1) 0%, rgba(0,16,25,1) 14%, rgba(10,19,38,1) 35%, rgba(0,10,47,1) 52%, rgba(19,7,36,1) 70%, rgba(0,14,37,1) 90%, rgba(33,0,33,1) 100%);
    }
    .bg-grad-dark {
        background: linear-gradient(90deg, rgba(20,20,20,var(--tw-bg-opacity)) 0%, rgba(0,0,0,var(--tw-bg-opacity)) 100%);
    }
}
