/*********************** FONTS ***********************/

/********** Overpass **********/
/* Regular */

@font-face {
  font-family: "Jost-VF";
  src: url(etc/fonts/Jost-VF.woff2) format("woff2-variations"),
    url(etc/fonts/Jost-VF.woff) format("woff"),
    url(etc/fonts/Jost-VF.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(etc/fonts/Jost-400-Book.woff2) format("woff2"),
    url(etc/fonts/Jost-400-Book.woff) format("woff"),
    url(etc/fonts/Jost-400-Book.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(etc/fonts/Jost-300-Light.woff2) format("woff2"),
    url(etc/fonts/Jost-300-Light.woff) format("woff"),
    url(etc/fonts/Jost-300-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url(etc/fonts/Jost-700-Bold.woff2) format("woff2"),
    url(etc/fonts/Jost-700-Bold.woff) format("woff"),
    url(etc/fonts/Jost-700-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
