@layer components {
    .popup {
        @apply opacity-0 hidden invisible bg-yellow-lighter text-black border-primary border-solid border font-medium mx-auto px-3 py-2;
        &.show {
            @apply w-auto block visible opacity-100 absolute top-0 left-0 h-auto;
            max-width: 256px;
            min-width: 96px;
            min-height: 1em;
            animation: 1s popup-hide forwards 1 ease;
            animation-delay: 3s;
        }
    }
}

@keyframes popup-hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
